header{
    background-color: #00a1e4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 40px 0;
}
header img{
    width: 350px;
}
.logo-usuario{
    max-width: 15%;
}