nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav>a{
    margin: 0 10px;
    padding: 2px 3px;
    color: black;
    font-family: "Roboto Medium";
    background-color: rgb(192, 201, 255);
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
}