.welcome{
    font-family: "Roboto light";
    color: white;
    text-align: center;
    font-size: larger;
    background-image: url(/Ciudad-Chicago-Fondo.jpg);
    background-position: 50% 15%;
    height: 80vh;
}
.slogan{
    font-style: italic;
    color: rgb(0, 255, 128);
}
.welcome>button{
    color: white;
    padding: 7px 25px;
    font-size: large;;
    background-color: rgb(0, 0, 0);
    font-family: "Roboto Medium";
    text-decoration: none;
    border: none;
    border-radius: 5px;
}
.welcome>button:hover{
    background-color: gray;
}